@font-face {
	font-family: 'BerlingskeSerif';
	src: url('/fonts/BerlingskeSerif-DBd.ttf');
	font-weight: normal;
	font-style: normal;
}

body {
    background-color: #fcfcfc;
    padding-top: 50px;
}

.header {
	color: #8d93a1;
}

.logo {
	font-family: 'Verdana';
	font-size: 24px;
	color: #000;
}

.logo span {
	font-weight: 900;
}

.logo-subtext {
	font-family: 'Montserrat', sans-serif;
	font-size: 10px;
	color: #8d93a1;
}

.button {
	/*min-width: 260px;*/
	min-height: 50px;
	border-radius: 35px;
	color: white;
}

.whatsapp {
	background-color: #8bc375;
}

.viber {
	background-color: #59267c;
}

.button-content {
	min-width: 120px;
	text-align: center;
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.button-content .icon {
	vertical-align: middle;
	margin-right: 10px;
}

.main-content {
	margin-top: 140px;
}

.main-content-header {
	font-family: 'BerlingskeSerif';
	font-size: 42px;
}

.main-content-description {
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	line-height: 2;
	color: #8d93a1;
}

.main-action-button {
	position: relative;
	width: 65%;
	height: 100px;
	border-radius: 50px;
	margin-top: 40px;
	background-color: #d35849;
}

.courses-block {
	margin-top: 70px;
	margin-bottom: 70px;
	white-space: nowrap;
	overflow: scroll;
}

.courses-block::-webkit-scrollbar { 
    display: none; 
}

.course-block {
	width: 280px;
	height: 200px;
	vertical-align: middle;
	font-size: 20px;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	display: inline-block;
	white-space: normal;
	position: relative;
}

.course-block img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.course-block-content {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

a {
	color: #d35849;
	text-decoration: underline;
	font-family: 'Montserrat', sans-serif;
	font-weight: lighter;
}
